# this file is in the root of the project. Don't check parent directories
config.stopBubbling = true

# fixes Sonar issues. Otherwise the generated code has to be tested
lombok.addLombokGeneratedAnnotation = true

# throw an IllegalArgumentException if @NonNull fields are null
lombok.nonNull.exceptionType = IllegalArgumentException